<div class="container py-4">
  <div class="row ">
    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="row footer-social-links  pl-3 ">
        <ul class="social-meditate-icons">
          <li>
            <a href="https://www.facebook.com/uniformedmeditation"  target="_blank" aria-label="Visit us on facebook. Link open in a new window">
              <i class="fa fa-icon-size fa-facebook-square" aria-hidden="true"></i>
              <span aria-hidden="true" class="screenreader-text">visit us on facebook</span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com/umeditation_"  target="_blank" aria-label="Visit us on twitter. Link open in a new window">
              <i class="fa fa-icon-size fa-twitter" aria-hidden="true"></i>
              <span aria-hidden="true" class="screenreader-text">visit us on twitter</span>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/uniformedmeditation/"  target="_blank" aria-label="Visit us on instagram. Link open in a new window">
              <i class="fa fa-icon-size fa-instagram" aria-hidden="true"></i>
                <span aria-hidden="true" class="screenreader-text">visit us on instagram</span>
            </a>
          </li>

            <li>
            <a href="https://www.youtube.com/channel/UC0-cvY-9lajaJCFC_PDnIVw"  target="_blank" aria-label="Visit us on youtube. Link open in a new window">
              <i class="fa fa-icon-size fa-youtube-play" aria-hidden="true"></i>
                <span aria-hidden="true" class="screenreader-text">visit us on youtube</span>
            </a>
          </li>

          <li>
            <a href="mailto:Info@uniformedmeditation.com"  target="_blank" aria-label="Connect with us via email">
              <i class="fa fa-icon-size fa-envelope-o" aria-hidden="true"></i>
                <span aria-hidden="true" class="screenreader-text">email us</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="row footer-links-list pt-4  pl-3">
        <ul class="sitemap-links">
          <li><a href="faq.html">FAQ</a></li>
          <li><a href="volunteers.html">Volunteer</a></li>
          <li><a href="about-us.html">About us</a></li>
          <li><a href="sitemap.html">Sitemap</a></li>
          <li><a href="accessibility-statement.html">Accessibility statement</a></li>
          </ul>
      </div>
      <div class="row pl-3">
        <p>Copyright &copy; 2020 Uniformed Meditation <span aria-hidden="true">|</span> Powered by
          <br />Uniformed Meditation</p>
      </div>
    </div>
    <div class="col-xl-1"></div> 
    <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
      <a href="https://knowbility.org/">
        <img src="img/knowbility_logo_white.png" alt="Knowbility logo" width="200"/>
    </a>    
    <p class="knowbility-logo-text">This site was created for the </br>Accessibility Internet Rally, Knowbility.</p>
    </div>
  </div>
</div>
