{% set pagetitle = 'About us -' %}
{% set pagedesc = 'About Uniformed Meditation' %}

{% extends "partials/base_template.twig" %}

 {% block blockMainContent %}
    <section class="margin-spacer" aria-labelledby="about_heading1">

        <div class="container">
            <div class="mx-auto d-block col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <img src="img/um_team.png" alt="Tawania and Evy's photo" class="img-fluid" id="um-img">
            </div>

            <h1 id="about_heading1" class="text-center mt-5">
                About Us
            </h1>
            <p>Uniformed meditation brings solutions to uniformed workers who are open to improving their wellness. 
            Our mission is to support and navigate you through any occupational stress related to COVID–19. </br></br>
 
            Founded in 2020 by Tawania Reggler and Evy Fung, U.M. was born from a passion for connecting community and law enforcement agencies. 
            Initially, U.M.'s focus was fostering positive community relations but the project pivoted due to the coronavirus pandemic. 
            As a result, we identified an urgent need to support the supporters &ndash; front line warriors within essential industries who must 
            physically show up to their jobs and continue to perform while potentially risking burnout, stress, fear, and many other negative emotional responses. </br></br>
            
            Tawania is passionate about merging the data, art, and technical aspects of U.M. She used her experience in those fields to expand U.M. from 
            her thesis project to production. Evy is a certified meditation teacher from the Nalanda Institute for Contemplative Science and The Path. 
            She cares about our mission's restorative aspects like facilitating wellness initiatives, sustainability projects, and customizing meditations.</br></br>

            We aim to provide a safe and accessible space for you to reach your wellness needs in one simple platform. We truly appreciate your efforts 
            and sacrifices in the field and hope you enjoy our products as much as we enjoy offering them. This is our way of giving back. We appreciate all you do! 
            You're only one call away from mindfulness with Uniformed Meditation.</br></br>

            If you have any questions or comments, please do not hesitate to <a href="contact.html" class="link-primary-um link-primary-underline">contact us</a>.</br></br>
            
            In health and wellness,</br></br>

            Uniformed Meditation</br></br>
            </p>
        </div>

        
    </section>
 {% endblock %}

 {% include 'partials/footer.twig' %}