{% set pagetitle = 'Media Transcript -' %}
{% set pagedesc = 'Uniformed Meditation Media Transcript' %}

{% extends "partials/base_template.twig" %}

 {% block blockMainContent %}
    <section aria-labelledby="media_heading1" class="margin-spacer">
        <div class="container center">
            <h1 id="media_heading1">Patience Transcript</h1>
            <p class="text-left mt-4">[Bell Rings]<br/>
                We welcome the energy of patience in our life with affirmation and presence we sit together to connect to that light<br/>

                Take a big inhalation, in through the nose<br/>

                and exhale as far as it needs to go<br/>

                Take another big inhalation, feeling your lungs, feeling your chest rise<br/>

                and exhale as far as that needs to go<br/>

                Continue to breathe with intention<br/>

                intentions and nurture your body<br/>

                and when you're ready, you can close your eyes and let go of any baggage<br/>

                Fully immerse yourself in the present moment<br/>

                Open your heart to patience with a knowingness that any aversion that comes up is trying to shift the problem away from a learning opportunity<br/>

                Embrace your life, be okay to let this be what it is for now<br/>

                Be patient<br/>

                Have faith that every need will be met and let the universe unwind its magic<br/>

                When you're ready, you can open your eyes. <br/>

                Namaste!<br/>
            </p>
        </div>


     <div class="container pad-30">
        
         <a href="media.html" class="mb-5 link-primary-um" target="_blank">Go back to media page <i class="fa fa-chevron-right fa-1"
              aria-hidden="true"></i></a>
        </div>
       

    </section>
 {% endblock %}

 {% include 'partials/footer.twig' %}