{% set pagetitle = 'Media Transcript -' %}
{% set pagedesc = 'Uniformed Meditation Media Transcript' %}

{% extends "partials/base_template.twig" %}

 {% block blockMainContent %}
    <section aria-labelledby="media_heading1" class="margin-spacer" lang="es">
        <div class="container center">
            <h1 id="media_heading1">Gratitud y el Aliento</h1>
            <p class="text-left mt-4">Bienvenidos, para empezar, Busca un espacio cómodo y tranquilo. Tómate un momento para acomodarte en una silla o para sentarte en el piso con buena postura. Puedes hacer clic en el botón de pausa en cualquier momento mientras arreglas el espacio.<br/><br/>

                [Sonidos suaves para abrir la meditación]<br/>

                Preste atención a cómo respiras. Respira con intención. Sienta el aire y como se llena tu pecho.<br/>

                Cuando estés listo, cierra los ojos.<br/>

                Preste atención a tu cabeza y la parte de tu frente. Ahora en medio de tus cejas libera la tensión en esta zona. Presta atención a las mejillas calme los nervios activos.
relaja la mandíbula y descansa la lengua.<br/>

                Sigue respirando con intención y si quieres, puedes poner tu mano sobre tu corazón.<br/>

                Coge un momento de gratitud por ser quien eres, por ser tú! Hay tantas partes que se pueden honrar en este momento. ¡Elige uno!<br/>

               <br/> [Suaves sonidos de campanillas para relajarse más en la meditación]<br/>

               Libera cualquier pensamiento que no sirva a tu bienestar.<br/>

               Dale las gracias por tomarse este tiempo para el autocuidado. <br/>

               Proteja su energía. Visualiza una luz Blanca que rodea tu Cuerpo que te protege. Cuando estés listo, puedes abrir tus ojos.<br/>

               <br/> [Sonidos suaves para cerrar la meditación]<br/>

              
            </p>
        </div>

        <div class="container pad-30">
        
         <a href="media.html" class="mb-5 link-primary-um" lang="en">Go back to media page <i class="fa fa-chevron-right fa-1"
              aria-hidden="true"></i></a>
        </div>
       

    </section>
 {% endblock %}

 {% include 'partials/footer.twig' %}