{% set pagetitle = 'Consumer Convenience vs. Sustainability – Sanitizer wipes -' %}
{% set pagedesc = 'Uniformed meditation Blogs' %}
{% extends "partials/base_template.twig" %}

{% block blockMainContent %}

<section aria-labelledby="blog-title">

    <div class="container pad-30 blog-page">
    <h1 id="blog-title" class="blog-title center">
        Consumer Convenience vs. Sustainability &ndash; Sanitizer wipes<span>By: Evy Fung on 17/11/2020</span>
    </h1>
    <div class="pad-30">
    <p>
       Did you know that sanitizer wipes are loading up the landfills? It's convenient yet toxic to the
earth. The wipe contains plastic fibers and poses a danger to animals that mistake plastic bags
and wipes for their natural jellyfish prey. Wipes cause issues for sewage and can overflow into
rivers and the ocean.
    </p> 
    <p>
   Since wipes are not recyclable and just like plastic, it does not break down. We must find
alternatives. Below is the recipe to a DIY sustainable, homemade cleaning wipes solution.</p>
    <p>
    
        <b>Please note</b>: the lemon peel version will need 10&ndash;14 days to infuse in a lid jar and then to be strained.

    </p>
    </div>
    <div class="pad-20">
        <h2>Ingredients</h2>
        <ul class="blog-list-structure">
            <li>1&ndash;2 Large quart&ndash;sized container with tight&ndash;fitting lid and/or a reusable spray bottle</li>
            <li>Cloths (try 2 old t&ndash;shirts, trace as many 8 x 8 inch squares and cut up)</li>
            <li>1 1/2 cup distilled water</li>
            <li>1 tbsp castile soap &ndash;or&ndash; 2 lemons peels, small bunch of fresh thyme sprigs, 
            2 cups distilled white vinegar (the lemon peel version will need 10&ndash;14 days to infuse in a lid jar and then to be strained)</li>
            <li>20&ndash;25 drops essential oil (optional, but not necessary; antibacterial options include tea tree, 
            thyme, and rosemary or some fun aromatherapy options include: lavender, lemon or orange)</li>
        </ul>

    </div>
    <div class="pad-20">
        <h2>Instructions</h2>
        <p>If using Castile Soap:</p>
        <ol class="blog-list-num">
            <li>Add the water and soap to the container and stir.</li>
            <li>Add essential oils, if using and stir to combine.</li>
            <li>Add the cut&ndash;up cloth into the container, and press down to soak up all the solution.</li>
            <li>Cover the container, and flip it upside down to ensure all cloths are moistened.</li>
            <li>Use as needed for quick cleanups!</li>
        </ol>
        <p>If you've waited 10&ndash;14 days, for the Lemon Peel version:</p>
        <ol class="blog-list-num">
            <li>Strain out the lemon peel and thyme and collect the liquid within another large quart container.</li>
            <li>Add essential oils and add the cut&ndash;up cloths into the solution.</li>
            <li>Cover the container and shake. Voila! </li>
        
        </ol>
    </div>

    <div class="">
        <p><b>Notes</b>: Store used wipes in an open container or basket until laundry day, then wash as usual.</p>
    </div>
    
    </div>
</section>

{% endblock %}

 {% include 'partials/footer.twig' %}