{% set pagetitle = 'Services -' %}
{% set pagedesc = 'Uniformed meditation services' %}

{% extends "partials/base_template.twig" %}

 {% block blockMainContent %}
    <section aria-labelledby="service_heading1" class="margin-spacer">
        <div class="container center">
            <h1 id="service_heading1">What We Offer</h1>

            <div class="table-wrapper">
                <table class="services-um _trade-price">
                 <caption>Our classes and programs offer a chance to give back to those who put themselves on the line every day as heroes.</caption>
                    
                    <thead>
                        <tr>
                            <th scope="col" class="tc-16">Types of Services</th>
                            <th scope="col" class="tc-12">Minutes</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a href="#type1">Consultation</a></th>
                           
                            <td data-label="unifomed meditation">
                                <div>15 mins</div>
                            </td>
                            

                        </tr>
                        <tr>
                            <th scope="row"><a href="#type2">Classes</a></th>

                            <td data-label="unifomed meditation">
                                <div>30 mins</div>
                            </td>
                            

                        </tr>
                        <tr>
                            <th scope="row"><a href="#type3">Corporate Mindfulness Program</a></th>

                            <td data-label="unifomed meditation">
                                <div>10 x 30 min sessions</div>
                            </td>
                            

                        </tr>
                        <tr>
                            <th scope="row"><a href="#type4">Corporate Retreats/Volunteering</a></th>

                            <td data-label="unifomed meditation">
                                <div>120 to 180 mins</div>
                            </td>
                            

                        </tr>
                        <tr>
                            <th scope="row"><a href="#type5">Coaching</a></th>

                            <td data-label="unifomed meditation">
                                <div>45 mins</div>
                            </td>
                            

                        </tr>
                        <tr>
                            <th scope="row"><a href="#type6">Webinars</a></th>

                            <td data-label="unifomed meditation">
                                <div>60 mins</div>
                            </td>
                            

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </section>


    <section aria-label="">
    
        <div class="services container">
           <ul class="services-list">
            <li id="type1">
                    <div class="row row-align">
                            <div class="col-lg-6 img-container-services">
                                <img src="img/SERVICES_PAGE_pic_1.jpg" alt="" class="image-services rounded" />
                                 <span class="photo-credit">Photo credit: Omer Salom</span>
                            </div>

                            <div class="col-lg-6 pad-30  service-listing">
                                <h2>Consultation</h2>
                                <p>A short complimentary session to discuss your needs and if we can
fulfill your request.</p>
                            </div>

                    </div>
            </li>

           <li id="type2">

                <div class="row row-align">
                    <div class="col-lg-6 pad-30  service-listing">
                        <h2>Classes</h2>
                        <p>Virtual or In-Person classes to get you started on your meditation journey.</p>
                    </div>

                        <div class="col-lg-6 img-container-services">
                            <img src="img/SERVICES_PAGE_pic_2.jpg" alt="" class="image-services rounded" />
                             <span class="photo-credit">Photo credit: Brooke Lark</span>
                    </div>

                </div>
           
           </li>
           <li id="type3">
             <div class="row row-align">
                        <div class="col-lg-6 img-container-services">
                             <img src="img/SERVICES_PAGE_pic_3.jpg" alt="" class="image-services rounded" />
                              <span class="photo-credit">Photo credit: Kayla Maurais</span>
                        </div>

                        <div class="col-lg-6 pad-30  service-listing">
                            <h2>Corporate Mindfulness Program</h2>
                            <p>Access to our Telephonic Services and/or 10
weekly classes as a benefit for your employees.</p>
                        </div>

                </div>
           
           </li>

           <li id="type4">
           
             <div class="row row-align">
                       

                        <div class="col-lg-6 pad-30  service-listing">
                            <h2>Corporate Retreats/Volunteering</h2>
                            <p>Being mindful of other's differences and embracing
the strengths each person brings on to each team cultivates rapport, trust and
psychological safety. We will explore assessments or volunteer together on
sustainability projects and dive deep into team building. We can also work with HR
Departments to consult and provide neutral feedback on dynamics.</p>
                        </div>

                         <div class="col-lg-6 img-container-services">
                             <img src="img/SERVICES_PAGE_pic_4.jpg" alt="" class="image-services rounded" />
                             <span class="photo-credit">Photo credit: Lustig Photography</span>
                        </div>

                </div>
           </li>

           <li id="type5">
                 <div class="row row-align">
                        <div class="col-lg-6 img-container-services">
                             <img src="img/SERVICES_PAGE_pic_5.jpg" alt="" class="image-services rounded" />
                              <span class="photo-credit">Photo credit: Yegor Denisov</span>
                        </div>

                        <div class="col-lg-6 pad-30  service-listing">
                            <h2>Coaching</h2>
                            <p>1:1 Meditation, Goal Building and Wellness Exploration.</p>
                        </div>

                </div>
           
           </li>

           <li id="type6">
           
              <div class="row row-align">
                        <div class="col-lg-6 pad-30  service-listing">
                            <h2>Webinars</h2>
                            <p>One hour long discussions on Mindfulness, Energy Centers, Gratitude,
Parent Support, Creativity, etc.</p>
                        </div>

                         <div class="col-lg-6 img-container-services">
                             <img src="img/SERVICES_PAGE_pic_6.jpg" alt="" class="image-services rounded" />
                              <span class="photo-credit">Photo credit: Mark Harpur</span>
                        </div>

                </div>
           </li>
           
           </ul>


           <div class="pad-30">
            <p>We provide meditation in both English and Spanish. Listen to a
             <a href="media.html" class="link-primary-um link-primary-underline" aria-label="">sample mindfulness meditation</a>.</p>
        </div>
        </div>

        
    </section>
 {% endblock %}

 {% include 'partials/footer.twig' %}