{% set pagetitle = 'Volunteer -' %}
{% set pagedesc = 'Uniformed Meditation Soul Service ' %}

{% extends "partials/base_template.twig" %}

{% block blockMainContent %}
<section class="pt-0" aria-labelledby="career-join-team">
    <div class="jumbotron jumbotron-fluid">
        <div class="container center">
            <h1 class="display-4" id="career-join-team">Volunteer with us</h1>
            <p class="">Our volunteer community is committed to maintaining sustainability efforts by offering time to those in need. </p>
        </div>
    </div>
    <div class="container content-text">
          <p>Our work focuses on:</p>
          <ol class="volunteer-list">
          
              <li>Hiring volunteers who want to innovate and put their ideas to work.</li>
              <li>Creating sustainability and wellness community building initiatives.</li>
              <li>Inspiring all ages within communities to continue a culture of empathy and support.</li>
          </ol>
          <div class="pad-20">
          <p>If you’re interested in working with us in a different way, please see our <a href="contact.html" class="link-primary-um link-primary-underline">contact page</a> to reach
us.</p>
          </div>
    </div>
</section>

    
<section aria-labelledby="um-values">
  <div class="container">
    
    <h2 id="um-values" class="text-center">
      Our Values
    </h2>
    <p>
      Founded in 2020, we are a small business that provides wellness services to uniformed heroes. We've developed a set of core values to show what goes into the services we provide. These guiding principles remind us of our special work and its contribution to the ecosystem of Uniformed Meditation. <br/><br/>

As we grow and evolve, we may fine-tune our values, but for now, we want to display them and ask for your presence, attention, and feedback.

    </p>
    <div class="row mt-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-4 px-5">
        <h3><b>Supportive</b></h3>
        <p>We want to cultivate and nurture relationships with our clients. As people phase-out of one experience with us, we want them to know we'll always have their back. </p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-4 px-5">
        <h3><b>Inclusive and Diverse</b></h3>
        <p>We provide an experience that can evolve with human beings' needs by being accessible and available to wherever they are within a wellness ritual. As founders who are Persons of Color (POC), we are deeply rooted in building trust, community, and healing spaces. We love and honor people from all walks of </p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-4 px-5">
        <h3><b>Connected</b></h3>
        <p>What we learn in meditation within ourselves will translate into how we express ourselves. We will keep an open mind and heart with our clients. One of the best gifts we can give to our clients is to feel safe and worthy in our presence. Please know we are here for you and need your feedback to improve.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-4 px-5">
        <h3><b>Openness in Communication</b></h3>
        <p>We acknowledge that no one is perfect. We promise to practice openness and transparency and to be here for you to ask for help when we need it. Our openness and communication is our commitment to you. We want you to feel heard.</p>
      </div>
    </div>
  </div>
</section>

{# <section aria-labelledby="Open_pos" class="mt-5">
      <div class="container content-text text-center">
        <h2 id="Open_pos" class="font-weight-bold">
          Open positions
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. </p>
      </div>

      <div class="card-deck mt py-5 px-5 mx-5">
        <div class="card">
            <div class="card-body">
            <h3 class="card-title font-weight-bold ">Job Title 1</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua</p>
            <p class="card-text"><span class="text-post">Posted on November 10, 2010</span></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title font-weight-bold">Job Title 2</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua  </p>
            <p class="card-text"><span class="text-post">Posted on November 10, 2010</span></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title font-weight-bold">Job Title 3</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua</p>
            <p class="card-text"><span class="text-post">Posted on November 10, 2010</span></p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
            <h3 class="card-title font-weight-bold">Job Title 4</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua</p>
            <p class="card-text"><span class="text-post">Posted on November 10, 2010</span></p>
            </div>
        </div>
    </div>
</section> #}

{# <section class="pt-0 pb-0" aria-labelledby="question-about">
    <div class="jumbotron jumbotron-fluid text-center pt-0 pb-0">
        <div class="container">
            <h2 class="display-5" id="question-about">Questions about joining Uniformed Meditation?</h2>
            <p class="">Learn more about our interview process on our <a href="faq.html" class="link-primary-um link-primary-underline"> frequently asked questions</a> page.</p>
        </div>
    </div>
</section> #}
{% endblock %}

{% include 'partials/footer.twig' %}