{% set pagetitle = 'Blog page' %}
{% set pagedesc = 'Uniformed meditation Blogs' %}
{% extends "/partials/base_template.twig" %}

{% block blockMainContent %}

<section aria-labelledby="blog-title">

    <div class="container pad-30">
    <h1 id="blog-title" class="blog-title center">
        Find Your Sacred Self Care Ritual &ndash; Time<span>By: Evy Fung</span>
    </h1>
    <div class="pad-30">
    <p>
        Let’s talk about YOU. Particularly building your very own self&ndash;care ritual that may tweak or
         evolve over time but, that will always be sacred and uniquely YOU.
    </p> 

    <div class="pad-20">
    <h2>Sacred Self&ndash;Care Ritual</h2>
     <p>
        When I think about the sacred self-care ritual, <i>TIME</i> comes up! How do you spend your time? Is
        there enough time in your schedule for you? From exploring the depths of you to clearing out
        your emails, we can all get tied up, especially when working from home.</p>
    </div>

    <div class="pad-20">
        <h2>Spend More Time on Yourself</h2>

          <p>How does one spend more time on themselves? Let’s try something right now! Take out a journal.</p>

           <ol class="blog-list-num">
            <li>Write down what’s important to you.</li>
            <li>What do you need?</li>
            <li>What do you want to invest more time in?</li>
            <li>How can you build in 15 &ndash;20 minutes a day?
                <span>- Would it look like waking up a little earlier or taking a walk to clear  your mind?</span>
            </li>
        </ol>
    </div>
   
    <div class="pad-20">
        <p>Shifting your time helps. Digging into what’s critical for your life and being proactive about
showing up for those things will emerge into a ritual. Once you start, miracles will surface!</p>
    </div>
  
    </div>
    
    </div>
</section>

{% endblock %}

 {% include '/partials/footer.twig' %}